<div class="container">

    <cbrerror class="label label-danger error">Error!</cbrerror>

    <div class="jumbotron">

        <div class="row dashboard-numbers">

            <div class="col-lg-6">

                <div class="dashboard-number-lg">0</div>

                <p>Store page visits</p>

                <div class="dashboard-number-sm">0</div>

                <p style="font-size: 1.2em;">Store page visits today</p>

            </div>

            <div class="col-lg-6">

                <div class="dashboard-number-lg">0</div>

                <p>Coupons issued</p>

                <div class="dashboard-number-sm">0</div>

                <p style="font-size: 1.2em;">Coupons issued today</p>

            </div>

        </div>

    </div>

    <div class="jumbotron">

        <div class="row">


            <div class="col-lg-5">

                <cbrfetch getFrom="stores">

                    <h2><a ng-href="#stores">My Stores</a></h2>

                    <div ng-show="data.stores == null || data.stores.length == 0">

                        <p>No stores.</p>

                    </div>

                    <div class="row stores">

                        <div class="col-lg-6" ng-repeat="store in data.stores">

                            <a ng-href="#store/{{ store.storeId }}" class="thumbnail">
                                <img ng-src="/static/images/icons/store-128.png"/>
                            </a>

                            <p><a ng-href="#store/{{ store.storeId }}">{{ store.name }}</a></p>

                        </div>

                    </div>

                    <br/>

                    <div ng-show="data.stores == null || data.stores.length == 0">
                        <a class="btn btn-coubr" ng-href="#addstore">Add a store</a>
                    </div>

                </cbrfetch>

            </div>


            <div class="col-lg-2"></div>

            <div class="col-lg-5">

                <cbrfetch getFrom="coupons">

                    <h2><a ng-href="#coupons">My Coupons</a></h2>

                    <div ng-show="data.coupons == null || data.coupons.length == 0">

                        <p>No coupons.</p>

                    </div>

                    <div class="row coupons">

                        <div class="col-lg-6 coupon" ng-repeat="coupon in data.coupons">

                            <a ng-href="#coupon/{{ coupon.couponId }}" class="thumbnail">
                                <img ng-src="/static/images/icons/coupon-128.png"/>
                            </a>

                            <p><a ng-href="#coupon/{{ coupon.couponId }}">{{ coupon.title }}</a></p>

                        </div>

                    </div>

                    <br/>

                    <div ng-show="data.coupons == null || data.coupons.length == 0">
                        <a class="btn btn-coubr" ng-href="#addcoupon">Add a coupon</a>
                    </div>

                </cbrfetch>

            </div>

        </div>

    </div>

</div>
