<div class="container">

    <div class="jumbotron">

        <div class="row">

            <h2>Add a Coupon</h2>

            <form name="addCouponForm" ng-controller="BusinessAddCouponCtrl"
                  ng-submit="addCoupon(addCouponData, addCouponForm)" novalidate>

                <div class="col-lg-6">

                    <h3>General</h3>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/title-40.png"/></span>
                        <input type="text" class="form-control" name="title" placeholder="Type in a title"
                               ng-model="addCouponData.headlone" required>
                    </div>
                    <div class="help-block" ng-show="addCouponForm.title.$dirty && addCouponForm.name.$invalid">
                        <span ng-show="addCouponForm.title.$error.required">Empty field.title
                    </div>


                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><img class="input-group-img" style="height: 32px; width: 32px; padding: 5px"
                                                             ng-src="static/images/icons/note-40.png"/></span>
                        <textarea class="form-control textarea" name="description" placeholder="Type in a description"
                                  rows="5"></textarea>
                    </div>


                    <h3>Date</h3>

                    <div>
                        <div>from</div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <img class="input-group-img" ng-src="static/images/icons/date-40.png"/></span>
                            <input type="date" class="form-control" name="startDate"
                                   ng-model="addCouponData.startDate"
                                   required>
                        </div>
                    </div>
                    <div class="help-block"
                         ng-show="addCouponForm.startDate.$dirty && addCouponForm.startDate.$invalid">
                        <span ng-show="addCouponForm.startDate.$error.required">Empty field.</span>
                    </div>

                    <br/>

                    <div>
                        <div>to</div>
                        <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/date-40.png"/></span>
                            <input type="date" class="form-control" name="endDate" ng-model="addCouponData.endDate"
                                   required>
                        </div>
                    </div>
                    <div class="help-block"
                         ng-show="addCouponForm.endDate.$dirty && addCouponForm.endDate.$invalid">
                        <span ng-show="addCouponForm.endDate.$error.required">Empty field.</span>
                    </div>

                    <h3>Amount</h3>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/calculator-40.png"/></span>
                        <input type="number" class="form-control" name="telephone" placeholder="Type in amount of coupons"
                               ng-model="addCouponData.telephone" required>
                    </div>
                    <div class="help-block" ng-show="addCouponForm.telephone.$dirty && addCouponForm.telephone.$invalid">
                        <span ng-show="addCouponForm.telephone.$error.required">Empty field.</span>
                    </div>

                </div>

                <div class="col-lg-6">

                    <h3>Stores</h3>

                    <div class="row stores">

                        <div class="col-lg-4 store" ng-repeat="store in stores">

                            <a class="thumbnail">
                                <img ng-src="static/images/icons/store-128.png"/>
                            </a>

                            <p><input name="type" type="checkbox"><br/>{{ store.name }}</p>

                        </div>

                    </div>

                    <div class="pull-right">
                        <a class="btn btn-primary">Select all</a>
                    </div>

                </div>


                <div class="col-lg-12">

                    <br/>

                    <div>
                        <button type="submit" class="btn btn-primary btn-lg"
                                ng-disabled="addCouponForm.$invalid || isUnchanged(addCouponData)">Add
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>