<div class="container">

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Change Password</h2>
                <br/>

                <form name="changePasswordForm" ng-controller="BusinessChangePasswordCtrl"
                      ng-submit="changePassword(changePasswordData, changePasswordForm)" novalidate>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="password" placeholder="Type in your old password"
                               ng-model="changePasswordData.password" minlength="8" maxlength="50" required>
                    </div>
                    <div class="help-block"
                         ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$invalid">
                        <span ng-show="changePasswordForm.password.$error.required">Empty field.</span>
                        <span ng-show="changePasswordForm.password.$error.minlength">Password must have at least 8 characters</span>
                        <span ng-show="changePasswordForm.password.$error.maxlength">Password must have at maximum 50 characters</span>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="newPassword" placeholder="Type in your new password"
                               ng-model="changePasswordData.newPassword" minlength="8" maxlength="50" required>
                    </div>
                    <div class="help-block"
                         ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid">
                        <span ng-show="changePasswordForm.newPassword.$error.required">Empty field.</span>
                        <span ng-show="changePasswordForm.newPassword.$error.minlength">Password must have at least 8 characters</span>
                        <span ng-show="changePasswordForm.newPassword.$error.maxlength">Password must have at maximum 50 characters</span>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="newPasswordRepeat"
                               placeholder="Type in password again" ng-model="changePasswordData.newPasswordRepeat"
                               match="changePasswordData.newPassword" minlength="8"
                               maxlength="50"
                               required>
                    </div>
                    <div class="help-block"
                         ng-show="form.newPasswordRepeat.$dirty && changePasswordForm.newPasswordRepeat.$invalid">
                        <span ng-show="changePasswordForm.newPasswordRepeat.$error.required">Empty field.</span>
                        <span ng-show="changePasswordForm.newPasswordRepeat.$error.match">Passwords are not equal.</span>
                        <span ng-show="changePasswordForm.newPasswordRepeat.$error.minlength">Password must have at least 8 characters</span>
                        <span ng-show="changePasswordForm.newPasswordRepeat.$error.maxlength">Password must have at maximum 50 characters</span>
                    </div>

                    <br/>

                    <div class="help-block" ng-show="load">
                        <div class="label label-info">Processing...</div>
                    </div>
                    <div class="help-block" ng-show="error">
                        <div class="label label-danger" ng-show="error.passwordNotFound">Invalid existing password. Please try again.</div>
                        <div class="label label-danger" ng-show="error.serverError">A server error occurred. Please try again later.</div>
                        <div class="label label-danger" ng-show="error.requestError">Invalid request. Please try again.</div>
                        <div class="label label-danger" ng-show="error.otherError">An error occurred. Please try again later.</div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg"
                                ng-disabled="changePasswordForm.$invalid || isUnchanged(changePasswordData)">Change
                        </button>
                    </div>


                </form>

                <br/>

            </div>


        </div>

    </div>

</div>