<div class="container">

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Change Email</h2>
                <br/>

                <form name="changeEmailForm" ng-controller="BusinessChangeEmailCtrl"
                      ng-submit="changeEmail(changeEmailData, changeEmailForm)" novalidate>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/email-40.png"/></span>
                        <input type="email" class="form-control" name="newEmail" placeholder="Type in your new email address"
                               ng-model="changeEmailData.newEmail"required>
                    </div>
                    <div class="help-block" ng-show="changeEmailForm.newEmail.$dirty && changeEmailForm.newEmail.$invalid">
                        <span ng-show="changeEmailForm.newEmail.$error.required">Empty field.</span>
                        <span ng-show="changeEmailForm.newEmail.$error.email">Not a valid email address.</span>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/email-40.png"/></span>
                        <input type="email" class="form-control" name="newEmailRepeat"
                               placeholder="Type in email address again" ng-model="changeEmailData.newEmailRepeat"
                               match="changeEmailData.newEmail" required>
                    </div>
                    <div class="help-block" ng-show="changeEmailForm.newEmailRepeat.$dirty && changeEmailForm.newEmailRepeat.$invalid">
                        <span ng-show="changeEmailForm.newEmailRepeat.$error.required">Empty field.</span>
                        <span ng-show="changeEmailForm.newPasswordRepeat.$error.match">Emails are not equal.</span>
                        <span ng-show="changeEmailForm.newEmailRepeat.$error.email">Not a valid email address.</span>
                    </div>

                    <br/>

                    <div class="help-block" ng-show="load">
                        <div class="label label-info">Processing...</div>
                    </div>
                    <div class="help-block" ng-show="error">
                        <div class="label label-danger" ng-show="error.emailFound">Email is already registered.</div>
                        <div class="label label-danger" ng-show="error.serverError">A server error occurred. Please try again later.</div>
                        <div class="label label-danger" ng-show="error.requestError">Invalid request. Please try again.</div>
                        <div class="label label-danger" ng-show="error.otherError">An error occurred. Please try again later.</div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg"
                                ng-disabled="changeEmailForm.$invalid || isUnchanged(changeEmailData)">Change
                        </button>
                    </div>


                </form>

                <br/>

            </div>


        </div>

    </div>

</div>