<div class="container">

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Confirm Registration</h2>
                <br/>

                <form name="confirmRegistrationForm" ng-controller="BusinessConfirmRegistrationCtrl"
                      ng-submit="confirmRegistration(confirmRegistrationData, confirmRegistrationForm)" novalidate>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/email-40.png"/></span>
                        <input type="email" class="form-control" name="email" placeholder="Type in your Email"
                               ng-model="confirmRegistrationData.email" required>
                    </div>
                    <div class="help-block" ng-show="confirmRegistrationForm.email.$dirty && confirmRegistrationForm.email.$invalid">
                        <span ng-show="confirmRegistrationForm.email.$error.required">Empty field.</span>
                        <span ng-show="confirmRegistrationForm.email.$error.email">Not a valid email address.</span>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/code-40.png"/></span>
                        <input type="text" class="form-control" name="code" placeholder="Type in your reset code"
                               ng-model="confirmRegistrationData.code" minlength="16" maxlength="32" required>
                    </div>
                    <div class="help-block" ng-show="confirmRegistrationForm.code.$dirty && confirmRegistrationForm.code.$invalid">
                        <span ng-show="confirmRegistrationForm.code.$error.required">Empty field.</span>
                        <span ng-show="confirmRegistrationForm.code.$error.minlength">Code must have at least 16 characters</span>
                        <span ng-show="confirmRegistrationForm.code.$error.maxlength">Code must have at maximum 32 characters</span>
                    </div>

                    <br/>

                    <div class="help-block" ng-show="load">
                        <div class="label label-info">Processing...</div>
                    </div>
                    <div class="help-block" ng-show="error">
                        <div class="label label-danger" ng-show="error.requestError">Invalid request. Please try again later.</div>
                        <div class="label label-danger" ng-show="error.emailNotFound">Invalid email or code. Please try again.</div>
                        <div class="label label-danger" ng-show="error.codeNotFound">Invalid email or code. Please try again.</div>
                        <div class="label label-danger" ng-show="error.confirmed">You are already confirmed.</div>
                        <div class="label label-danger" ng-show="error.expired">Confirmation code expired. Please request a new code <a ng-href="#/resendConfirmation">here</a>.</div>
                        <div class="label label-danger" ng-show="error.serverError">A server error occurred. Please try again later.</div>
                        <div class="label label-danger" ng-show="error.otherError">An error occurred. Please try again later.</div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg"
                                ng-disabled="confirmRegistrationForm.$invalid || isUnchanged(confirmRegistrationData)">Confirm
                        </button>
                    </div>

                    <br />

                </form>

                <p><a href="#/resendConfirmation">Resend confirmation code</a></p>

            </div>


        </div>

    </div>

</div>