<div class="container">

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">

                <h2>Sign In</h2>
                <br/>

                <form name="loginForm" ng-controller="BusinessLoginCtrl"
                      ng-submit="login(loginData, loginForm)" novalidate>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/email-40.png"/></span>
                        <input type="email" class="form-control" name="email" placeholder="Type in your Email"
                               ng-model="loginData.email" required>
                    </div>
                    <div class="help-block" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                        <span ng-show="loginForm.email.$error.required">Empty field.</span>
                        <span ng-show="loginForm.email.$error.email">Not a valid email address.</span>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="password" placeholder="Type in your password"
                               ng-model="loginData.password" minlength="8" maxlength="50" required>
                    </div>
                    <div class="help-block"
                         ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                        <span ng-show="loginForm.password.$error.required">Empty field.</span>
                        <span ng-show="loginForm.password.$error.minlength">Password must have at least 8 characters</span>
                        <span ng-show="loginForm.password.$error.maxlength">Password must have at maximum 50 characters</span>
                    </div>

                    <br/>

                    <div class="help-block" ng-show="load">
                        <div class="label label-info">Processing...</div>
                    </div>
                    <div class="help-block" ng-show="error">
                        <div class="label label-danger" ng-show="error.requestError">Invalid request. Please try again later.</div>
                        <div class="label label-danger" ng-show="error.emailNotFound">Invalid email or password. Please try again.</div>
                        <div class="label label-danger" ng-show="error.passwordNotFound">Invalid email or password. Please try again.</div>
                        <div class="label label-danger" ng-show="error.notConfirmed">You have not confirmed your account yet. Please confirm <a ng-href="#/confirmRegistration">here</a>.</div>
                        <div class="label label-danger" ng-show="error.serverError">A server error occurred. Please try again later.</div>
                        <div class="label label-danger" ng-show="error.otherError">An error occurred. Please try again later.</div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg"
                                ng-disabled="loginForm.$invalid || isUnchanged(loginData)">Sign in
                        </button>
                    </div>


                    <br/>

                </form>

                <p><a href="#/resetPassword">Forgot password?</a></p>

            </div>


        </div>


    </div>

</div>
