<div class="container">

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Reset Password</h2>
                <br/>

                <form name="passwordResetConfirmForm" ng-controller="BusinessResetPasswordConfirmCtrl"
                      ng-submit="resetPasswordConfirm(passwordResetConfirmData, passwordResetConfirmForm)" novalidate>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/email-40.png"/></span>
                        <input type="email" class="form-control" name="email" placeholder="Type in your Email"
                               ng-model="passwordResetConfirmData.email" required>
                    </div>
                    <div class="help-block" ng-show="passwordResetConfirmForm.email.$dirty && passwordResetConfirmForm.email.$invalid">
                        <span ng-show="passwordResetConfirmForm.email.$error.required">Empty field.</span>
                        <span ng-show="passwordResetConfirmForm.email.$error.email">Not a valid email address.</span>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/code-40.png"/></span>
                        <input type="text" class="form-control" name="code" placeholder="Type in your reset code"
                               ng-model="passwordResetConfirmData.code" minlength="16" maxlength="32" required>
                    </div>
                    <div class="help-block" ng-show="passwordResetConfirmForm.code.$dirty && passwordResetConfirmForm.code.$invalid">
                        <span ng-show="passwordResetConfirmForm.code.$error.required">Empty field.</span>
                        <span ng-show="passwordResetConfirmForm.code.$error.minlength">Code must have at least 16 characters</span>
                        <span ng-show="passwordResetConfirmForm.code.$error.maxlength">Code must have at maximum 32 characters</span>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="password" placeholder="Type in your new password"
                               ng-model="passwordResetConfirmData.password" minlength="8" maxlength="50" required>
                    </div>
                    <div class="help-block"
                         ng-show="passwordResetConfirmForm.password.$dirty && passwordResetConfirmForm.password.$invalid">
                        <span ng-show="passwordResetConfirmForm.password.$error.required">Empty field.</span>
                        <span ng-show="passwordResetConfirmForm.password.$error.minlength">Password must have at least 8 characters</span>
                        <span ng-show="passwordResetConfirmForm.password.$error.maxlength">Password must have at maximum 50 characters</span>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="passwordRepeat"
                               placeholder="Type in password again" ng-model="passwordResetConfirmData.passwordRepeat"
                               match="passwordResetConfirmData.password" minlength="8"
                               maxlength="50"
                               required>
                    </div>
                    <div class="help-block"
                         ng-show="form.passwordRepeat.$dirty && passwordResetConfirmForm.passwordRepeat.$invalid">
                        <span ng-show="passwordResetConfirmForm.passwordRepeat.$error.required">Empty field.</span>
                        <span ng-show="passwordResetConfirmForm.passwordRepeat.$error.match">Passwords are not equal.</span>
                        <span ng-show="passwordResetConfirmForm.passwordRepeat.$error.minlength">Password must have at least 8 characters</span>
                        <span ng-show="passwordResetConfirmForm.passwordRepeat.$error.maxlength">Password must have at maximum 50 characters</span>
                    </div>

                    <br/>

                    <div class="help-block" ng-show="load">
                        <div class="label label-info">Processing...</div>
                    </div>
                    <div class="help-block" ng-show="error">
                        <div class="label label-danger" ng-show="error.requestError">Invalid request. Please try again later.</div>
                        <div class="label label-danger" ng-show="error.emailNotFound">Invalid email or code. Please try again.</div>
                        <div class="label label-danger" ng-show="error.codeNotFound">Invalid email or code. Please try again.</div>
                        <div class="label label-danger" ng-show="error.expired">Reset code expired. Please request a new code <a ng-href="#/resetPassword">here</a>.</div>
                        <div class="label label-danger" ng-show="error.serverError">A server error occurred. Please try again later.</div>
                        <div class="label label-danger" ng-show="error.otherError">An error occurred. Please try again later.</div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg"
                                ng-disabled="passwordResetConfirmForm.$invalid || isUnchanged(passwordResetConfirmData)">Reset
                        </button>
                    </div>


                </form>

                <br/>

            </div>


        </div>

    </div>

</div>