<div class="container">

    <div class="help-block" ng-show="error" style="text-align: center">
        <div class="label label-danger" ng-show="error.serverError">A server error occurred. Some data could not be loaded.</div>
        <div class="label label-danger" ng-show="error.requestError">Invalid request. Some data could not be loaded.</div>
        <div class="label label-danger" ng-show="error.otherError">An error occurred. Some data could not be loaded.</div>
    </div>

    <div class="navbar">
        <div>
            <ul class="nav nav-pills">
                <li><a ng-href="#/addstore">Add a Store</a></li>
            </ul>
        </div>
    </div>

    <div class="jumbotron">

        <div class="row storesWithDetails" ng-repeat="store in stores">

            <div class="col-lg-4">

                <a ng-href="#/store/{{ store.localBusinessId }}" class="thumbnail">
                    <img ng-src="static/images/icons/store-128.png"/>
                </a>

            </div>

            <div class="col-lg-8">

                <h2><a ng-href="#/store/{{ store.localBusinessId }}">{{ store.name }}</a></h2>

                <p>{{ store.streetAddress }} &middot; {{ store.postalCode }} {{ store.addressLocality }}</p>
                <p>{{ store.telephone }}</p>

                <div class="row">

                    <div class="col-lg-2" ng-repeat="coupon in store.coupons">

                        <a ng-href="#/coupon/{{ coupon.couponId }}" class="thumbnail">
                            <img ng-src="static/images/icons/coupon-128.png"/>
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>