<div class="container">

    <div class="row">

        <div class="col-lg-2">

            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li><a ng-href="#offers">All Offers</a></li>
                <li class="active"><a ng-href="#coupons">Coupons</a></li>
                <li><a ng-href="#stamps">Stamp Cards</a></li>
                <li><a ng-href="#specials">Special offers</a></li>
            </ul>

        </div>

        <div class="col-lg-10">

            <cbrfetch getFrom="coupons/invalid">

                <div class="navbar">
                    <div>
                        <ul class="nav nav-pills">
                            <li><a ng-href="#coupons">Active Coupons</a></li>
                            <li><a ng-href="#couponsInactive">Inactive Coupons</a></li>
                            <li class="active"><a ng-href="#couponsInvalid">Invalid Coupons</a></li>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li><a class="btn-coubr-alt" ng-href="#addcoupon">Add a Coupon</a></li>
                        </ul>
                    </div>
                </div>

                <cbrerror class="label label-danger error">Error!</cbrerror>

                <div class="jumbotron">

                    <div ng-show="data.coupons == null || data.coupons.length == 0">

                        <p>No coupons.</p>

                    </div>

                    <div class="row offersWithDetails" ng-repeat="coupon in data.coupons">

                        <div class="col-lg-4">

                            <a ng-href="#coupon/{{ coupon.couponId }}" class="thumbnail">
                                <img ng-src="/static/images/icons/coupon-128.png"/>
                            </a>

                        </div>

                        <div class="col-lg-8">

                            <h2><a ng-href="#coupon/{{ coupon.couponId }}">{{ coupon.title }}</a></h2>

                            <p>{{ coupon.description }}</p>

                            <!-- <div class="row">

                                <div class="col-lg-2" ng-repeat="store in coupon.stores">

                                    <a ng-href="#store/{{ store.storeId }}" class="thumbnail">
                                        <img ng-src="/static/images/icons/store-128.png"/>
                                    </a>

                                </div>

                            </div> -->

                        </div>

                    </div>

                </div>

            </cbrfetch>

        </div>

    </div>

</div>
