<div class="container">

  <cbrerror class="label label-danger coubr-error">Ein Fehler ist aufgetreten!</cbrerror>

  <div class="row">

    <div class="col-lg-6">

      <h3>Name ändern</h3>
      <br/>

      <form cbrform name="form"
            postTo="account/name"
            thenGoto="#account"
            initFrom="account/name">

        <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/account.svg"/></span>
          <input type="text" class="form-control" name="firstName" placeholder="Vorname eingeben"
                 ng-model="data.firstName" ng-required="true">
        </div>
        <cbrinputerror class="help-block" cbrname="firstName"></cbrinputerror>

        <br/>

        <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/account.svg"/></span>
          <input type="text" class="form-control" name="lastName" placeholder="Nachname eingeben"
                 ng-model="data.lastName" ng-required="true">
        </div>
        <cbrinputerror class="help-block" cbrname="lastName"></cbrinputerror>

        <br/>

        <div>
          <cbrprocess class="label coubr-process-submit">Bearbeiten...</cbrprocess>
          <cbrerror class="label coubr-error-submit">Ein Fehler ist aufgetreten</cbrerror>
          <cbrsubmit class="btn coubr-button">Ändern</cbrsubmit>
          <span>oder <a ng-href="#konto">zurückgehen</a></span>
        </div>

      </form>

      <br/>

    </div>

  </div>

</div>
