<div class="container">

  <cbrerror class="label label-danger coubr-error">Ein Fehler ist aufgetreten!</cbrerror>

  <div class="row">

    <div class="col-lg-6">

      <h3>Passwort ändern</h3>
      <br/>

      <form cbrform name="form"
            postTo="account/password"
            thenGoto="#account">

        <!-- Old password -->

        <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/key.svg"/></span>
          <input type="password" class="form-control" name="password"
                 placeholder="Altes Passwort eingeben"
                 ng-model="data.password" ng-minlength="8" ng-maxlength="50" ng-required="true">
        </div>
        <cbrinputerror class="help-block" cbrname="password"
                       cbrmaxlength="Passwort darf maximal 50 Zeichen beinhalten."
                       cbrminlength="Passwort muss mindestens 8 Zeichen beinhalten.">
        </cbrinputerror>

        <br/>

        <!-- New password -->

        <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/key.svg"/></span>
          <input type="password" class="form-control" name="newPassword"
                 placeholder="Neues Password eingeben"
                 ng-model="data.newPassword" ng-minlength="8" ng-maxlength="50" ng-required="true">
        </div>
        <cbrinputerror class="help-block" cbrname="newPassword"
                       cbrmaxlength="Passwort darf maximal 50 Zeichen beinhalten."
                       cbrminlength="Passwort muss mindestens 8 Zeichen beinhalten.">
        </cbrinputerror>

        <br/>

        <!-- New password repeat -->

        <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/key.svg"/></span>
          <input type="password" class="form-control" name="newPasswordRepeat"
                 placeholder="Neues Passwort nochmals eingeben" ng-model="data.newPasswordRepeat"
                 match="data.newPassword" ng-minlength="8"
                 ng-maxlength="50"
                 ng-required="true">
        </div>

        <cbrinputerror class="help-block" cbrname="newPasswordRepeat"
                       cbrmatch="Passwörter sind nicht identisch."
                       cbrmaxlength="Passwort darf maximal 50 Zeichen beinhalten."
                       cbrminlength="Passwort muss mindestens 8 Zeichen beinhalten.">
        </cbrinputerror>

        <br/>

        <!-- Submit -->

        <div>
          <cbrprocess class="label coubr-process-submit">Bearbeiten...</cbrprocess>
          <cbrerror class="label coubr-error-submit">Ein Fehler ist aufgetreten</cbrerror>
          <cbrsubmit class="btn coubr-button">Ändern</cbrsubmit>
          <span>oder <a ng-href="#konto">zurückgehen</a></span>
        </div>


      </form>

      <br/>

    </div>


  </div>


</div>
