<h3>Passwort zurücksetzen</h3>
<br/>

<form cbrform name="form"
      postTo="b/resetPasswordConfirm"
      thenGoto="#anmelden?:email"
      initFromQuery="true">

  <!-- Email -->

  <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/email.svg"/></span>
    <input type="email" class="form-control" name="email" placeholder="E-Mail Addresse eingeben"
           ng-model="data.email" ng-required="true">
  </div>
  <cbrinputerror class="help-block" cbrname="email"></cbrinputerror>

  <br/>

  <!-- Code -->

  <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/lock.svg"/></span>
    <input type="text" class="form-control" name="code" placeholder="Zurücksetzcode eingeben"
           ng-model="data.code" ng-minlength="16" ng-maxlength="32" ng-required="true">
  </div>
  <cbrinputerror class="help-block" cbrname="code"></cbrinputerror>

  <br/>

  <!-- Password -->

  <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/key.svg"/></span>
    <input type="password" class="form-control" name="password" placeholder="Passwort eingeben"
           ng-model="data.password" ng-minlength="8" ng-maxlength="50" ng-required="true">
  </div>
  <cbrinputerror class="help-block" cbrname="password"
                 cbrmaxlength="Passwort darf maximal 50 Zeichen beinhalten."
                 cbrminlength="Passwort muss mindestens 8 Zeichen beinhalten."></cbrinputerror>

  <br/>

  <!-- Password Repeat -->

  <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/key.svg"/></span>
    <input type="password" class="form-control" name="passwordRepeat"
           placeholder="Passwort nochmals eingeben" ng-model="data.passwordRepeat"
           match="data.password" ng-minlength="8"
           ng-maxlength="50"
           ng-required="true">
  </div>
  <cbrinputerror class="help-block" cbrname="passwordRepeat"
                 cbrmatch="Passwörter sind nicht identisch."
                 cbrmaxlength="Passwort darf maximal 50 Zeichen beinhalten."
                 cbrminlength="Passwort muss mindestens 8 Zeichen beinhalten."></cbrinputerror>

  <br/>

  <div>
    <cbrprocess class="label coubr-process-submit">Bearbeiten...</cbrprocess>
    <cbrerror class="label coubr-error-submit">Ein Fehler ist aufgetreten</cbrerror>
    <cbrsubmit class="btn coubr-button">Zurücksetzen</cbrsubmit>
  </div>

</form>

<br/>
