<div class="sidenav col-lg-2">

    <div>
        <img ng-src="/images/icons/place-24.svg"> <span>Store Name</span>
    </div>

    <div class="placeholder-2">

        <div class="navbar" role="navigation">

            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li><a ng-href="#dashboard">Dashboard</a></li>
                <li><a ng-href="#store">Store</a></li>
            </ul>

            <div class="placeholder-1"></div>

            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li><a ng-href="#specialoffers">Special Offers</a></li>
                <li><a ng-href="#coupons">Coupons</a></li>
                <li><a ng-href="#stampcards">Stamp Cards</a></li>
            </ul>

            <div class="placeholder-5"></div>

            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li><a ng-href="#help">Help</a></li>
                <li><a ng-href="#settings">Settings</a></li>
            </ul>

        </div>

    </div>

</div>
