<ng-include src="'/static/pages/navigation.html'"></ng-include>

<div class="content col-lg-10">

    <div class="container">

        <cbrfetch getFrom="specials">

          <cbrerror class="label label-danger error">Ein Fehler ist aufgetreten!</cbrerror>

            <div class="jumbotron">

                <div ng-show="data.specials == null || data.specials.length == 0">

                    <p>Not implemented. Please select coupons.</p>

                </div>

                <div class="row offersWithDetails" ng-repeat="special in data.specials">


                </div>

            </div>

        </cbrfetch>


    </div>

</div>
