<ng-include src="'/static/pages/navigation.html'"></ng-include>

<div class="content col-lg-10">

    <div class="container">

        <div class="col-lg-10">

            <cbrfetch getFrom="stamps">

              <cbrerror class="label label-danger error">Ein Fehler ist aufgetreten!</cbrerror>

                <div class="jumbotron">

                    <div ng-show="data.stamps == null || data.stamps.length == 0">

                        <p>Not implemented. Please select coupons.</p>

                    </div>

                    <div class="row offersWithDetails" ng-repeat="stamp in data.stamps">


                    </div>

                </div>

            </cbrfetch>

        </div>

    </div>

</div>
