<div class="container">

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Reset Password</h2>
                <br/>

                <form cbrform name="form"
                      postTo="b/resetPasswordConfirm"
                      thenGoto="#login?:email"
                      initFromQuery="true">

                    <!-- Email -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/static/images/icons/email-40.png"/></span>
                        <input type="email" class="form-control" name="email" placeholder="Type in your Email"
                               ng-model="data.email" ng-required="true">
                    </div>
                    <cbrinputerror class="help-block" cbrname="email">Error.</cbrinputerror>

                    <br/>

                    <!-- Code -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/static/images/icons/code-40.png"/></span>
                        <input type="text" class="form-control" name="code" placeholder="Type in your reset code"
                               ng-model="data.code" ng-minlength="16" ng-maxlength="32" ng-required="true">
                    </div>
                    <cbrinputerror class="help-block" cbrname="code"
                                   cbrmaxlength="Code must have at maximum 32 characters."
                                   cbrminlength="Code must have at least 16 characters.">Error.</cbrinputerror>


                    <br/>

                    <!-- Password -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="password" placeholder="Type in your new password"
                               ng-model="data.password" ng-minlength="8" ng-maxlength="50" ng-required="true">
                    </div>
                    <cbrinputerror class="help-block" cbrname="password"
                                   cbrmaxlength="Password must have at maximum 50 characters."
                                   cbrminlength="Password must have at least 8 characters.">Error.</cbrinputerror>

                    <br/>

                    <!-- Password Repeat -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="passwordRepeat"
                               placeholder="Type in password again" ng-model="data.passwordRepeat"
                               match="data.password" ng-minlength="8"
                               ng-maxlength="50"
                               ng-required="true">
                    </div>
                    <cbrinputerror class="help-block" cbrname="passwordRepeat"
                                   cbrmatch="Passwords are not equal."
                                   cbrmaxlength="Password must have at maximum 50 characters."
                                   cbrminlength="Password must have at least 8 characters.">Error.</cbrinputerror>

                    <br/>

                    <div>
                        <cbrprocess class="label process-submit">Processing...</cbrprocess>
                        <cbrerror class="label error-submit">Error!</cbrerror>
                        <cbrsubmit class="btn btn-coubr btn-lg">Reset</cbrsubmit>
                    </div>

                </form>

                <br/>

            </div>


        </div>

    </div>

</div>
