<ng-include src="'/static/pages/navigation.html'"></ng-include>

<div class="content col-lg-10">

    <div class="container">

        <ng-include src="'/static/pages/store/navigation.html'"></ng-include>

        <div class="jumbotron">

            <cbrerror class="label label-danger error">Error!</cbrerror>

            <div class="row">

                <div class="col-lg-12">

                    <h2>Not implemented</h2>

                    <div class="imageUpload">

                        <div class="imageUploadContainer">

                            <div class="row">

                                <div class="col-lg-3">

                                    <img ng-src="/static/images/icons/store-128.png"/>

                                </div>

                            </div>

                            <br/>

                            <div class="imageUploadControl">
                                <p>Drag a picture in or <a class="btn btn-coubr">Upload a picture</a>
                                </p></div>

                        </div>

                    </div>

                    <br/>

                </div>

            </div>

        </div>

    </div>

</div>
