<ng-include src="'/static/pages/navigation.html'"></ng-include>

<div class="content col-lg-10">

    <div class="container">

        <ng-include src="'/static/pages/coupon/navigation.html'"></ng-include>

        <div class="jumbotron">

            <cbrerror class="label label-danger error">Error!</cbrerror>

            <cbrfetch getFrom="coupons/inactive">
                
                <ng-include src="'/static/pages/coupon/list.html'"></ng-include>

            </cbrfetch>

        </div>


    </div>

</div>

