<div class="container">

<div class="navbar">
    <div>
        <ul class="nav nav-pills">
            <li><a ng-href="#stores">Stores</a></li>
            <li><a ng-href="#addstore">Add a Store</a></li>
        </ul>
    </div>
</div>

<cbrerror class="label label-danger error">Error!</cbrerror>

<div class="jumbotron">

<div class="row">

<div class="col-lg-12"><h2>Add a Store</h2></div>

<cbrform postTo="b/store"
         thenGoTo="#store/:storeId">

<div class="col-lg-6">

    <h3>General</h3>


    <!-- Name -->

    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             ng-src="static/images/icons/title-40.png"/></span>
        <input type="text" class="form-control" name="name" placeholder="Type in a name"
               ng-model="data.name" required>
    </div>
    <cbrinputerror class="help-block" cbrname="name">Error.</cbrinputerror>

    <br/>

    <!-- Description -->

    <div class="input-group">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             style="height: 32px; width: 32px; padding: 5px"
                                                                             ng-src="static/images/icons/note-40.png"/></span>
        <textarea class="form-control textarea" name="description" placeholder="Type in a description (optional)"
                  ng-model="data.description" rows="5"></textarea>
    </div>

    <h3>Address</h3>

    <!-- Street -->

    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             ng-src="static/images/icons/street-40.png"/></span>
        <input type="text" class="form-control" name="street"
               placeholder="Type in a street address"
               ng-model="data.street" required>
    </div>
    <cbrinputerror class="help-block" cbrname="street">Error.</cbrinputerror>

    <br/>

    <!-- Postal Code -->

    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             ng-src="static/images/icons/email-40.png"/></span>
        <input type="text" class="form-control" name="postalCode"
               placeholder="Type in a postal code"
               ng-model="data.postalCode" minlength="5" maxlength="5" required>
    </div>
    <cbrinputerror class="help-block" cbrname="postalCode"
                   cbrnumber="Postal codes must be a number."
                   cbrmaxlength="Postal codes in Germany have 5 characters."
                   cbrminlength="Postal codes in Germany have 5 characters.">Error.
    </cbrinputerror>

    <br/>

    <!-- City -->

    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             ng-src="static/images/icons/city-40.png"/></span>
        <input type="text" class="form-control" name="city" placeholder="Type in a city"
               ng-model="data.city" required>
    </div>
    <cbrinputerror class="help-block" cbrname="city">Error.</cbrinputerror>

    <h3>Contact</h3>

    <!-- Phone -->

    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             ng-src="static/images/icons/telephone-40.png"/></span>
        <input type="text" class="form-control" name="phone"
               placeholder="Type in a telephone number (optional)"
               ng-model="data.phone">
    </div>

    <br/>

    <!-- Email -->

    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             ng-src="static/images/icons/email-40.png"/></span>
        <input type="email" class="form-control" name="email"
               placeholder="Type in a email (optional)"
               ng-model="data.email">
    </div>
    <cbrinputerror class="help-block" cbrname="email">Error.</cbrinputerror>


</div>

<div class="col-lg-6">

    <div ng-controller="StoreTypeController">

        <h3>Type</h3>

        <p>Currently only food establishments available.</p>

        <!-- Type -->

        <div class="row types">

            <div class="type" ng-repeat="type in types">
                <input type="radio" name="type" ng-model="data.type" ng-value="type.id" required hidden/>
                <img class="img-thumbnail thumbnail-coubr" ng-class="{'thumbnail-selected': data.type == type.id}"
                     ng-src="static/images/types/{{ type.id }}.png" ng-click="selectType(type.id)"/>

                <p>{{ type.name }}</p>
            </div>


        </div>

        <!-- Category -->

        <h3>Category</h3>

        <div ng-show="data.type == null">

            <p>Select a type first.</p>

        </div>

        <div ng-show="data.type">

            <div class="row types">

                <div ng-show="categories == null || categories.length == 0">

                    <p>No categories.</p>

                </div>

                <div class="type" ng-repeat="category in categories">
                    <input type="radio" name="category" ng-model="data.category" ng-value="category.id" hidden/>
                    <img class="img-thumbnail thumbnail-coubr"
                         ng-class="{'thumbnail-selected': data.category == category.id}"
                         ng-src="static/images/types/{{ category.id }}.png" ng-click="selectCategory(category.id)"/>

                    <p>{{ category.name }}</p>
                </div>

            </div>

        </div>

        <!-- Subcategory -->

        <h3>Subcategories</h3>

        <div ng-show="data.category == null">

            <p>Select a category first.</p>

        </div>

        <div ng-show="data.category">

            <div ng-show="subcategories == null || subcategories.length == 0">

                <p>No subcategories.</p>

            </div>

            <div class="row types">

                <div class="type" ng-repeat="subcategory in subcategories">
                    <input type="radio" name="subcategory" ng-model="data.subcategory" ng-value="subcategory.id"
                           hidden/>
                    <img class="img-thumbnail thumbnail-coubr"
                         ng-class="{'thumbnail-selected': data.subcategory == subcategory.id}"
                         ng-src="static/images/types/{{ subcategory.id }}.png"
                         ng-click="selectSubcategory(subcategory.id)"/>

                    <p>{{ subcategory.name }}</p>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="col-lg-12">

    <!-- Submit -->
    <div class="pull-right">

        <div class="help-block" ng-show="load">
            <div class="label label-info">Processing...</div>
        </div>


        <div class="pull-right">
            <cbrprocess class="label process-submit">Processing...</cbrprocess>
            <cbrerror class="label error-submit">Error!</cbrerror>
            <cbrsubmit class="btn btn-coubr btn-lg pull-right">Add</cbrsubmit>
        </div>

    </div>

</div>

</cbrform>

</div>

</div>

<div class="license">

    <p><a href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank"><img
            ng-src="static/images/license/cc-by.png"/></a> Food icons provided by <a href="http://yummicon.com/">Yummicon</a>
    </p>

</div>

</div>



