<div class="container">

    <cbrerror class="label label-danger error">Error!</cbrerror>

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-7">

                <h2>Close Store</h2>
                <br/>

                <cbrform postTo="b/store/:storeId/close"
                         thenGoTo="#stores">

                    <p>Closing a store means</p>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <input type="radio" name="reason" ng-model="data.reason" ng-value="1" checked="false">
                        </span>

                        <p class="form-control well">You don't want to list your store in <span
                                class="coubr">coubr</span> anymore.</p>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <input type="radio" name="reason" ng-model="data.reason" ng-value="2" checked="false">
                        </span>

                        <p class="form-control well">You're store really closes.</p>
                    </div>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <input type="radio" name="reason" ng-model="data.reason" ng-value="3" checked="false">
                        </span>

                        <p class="form-control well">Other reason.</p>
                    </div>

                    <cbrinputerror class="help-block" cbrname="reason">Error.</cbrinputerror>

                    </br />

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <input type="checkbox" name="inform" ng-model="data.inform" checked="false">
                        </span>

                        <p class="form-control well">Tell your customers that you want to close</p>
                    </div>

                    </br />

                    <div>
                        <cbrprocess class="label process-submit">Processing...</cbrprocess>
                        <cbrerror class="label error-submit">Error!</cbrerror>
                        <cbrsubmit class="btn btn-coubr btn-lg">Bye Bye</cbrsubmit>
                        <span>or <a ng-href="#/store/{{ route.storeId }}/settings">Go back</a></span>
                    </div>


                </cbrform>

            </div>

        </div>

    </div>

</div>