<div class="container">

    <cbrerror class="label label-danger error">Error!</cbrerror>

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Change Address</h2>
                <br/>

                <cbrform postTo="b/store/:storeId/address"
                         thenGoTo="#store/:storeId/settings"
                         initFrom="b/store/:storeId/address">

                    <!-- Street -->

                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             ng-src="static/images/icons/street-40.png"/></span>
                        <input type="text" class="form-control" name="street"
                               placeholder="Type in a street address"
                               ng-model="data.street" required>
                    </div>
                    <cbrinputerror class="help-block" cbrname="street">Error.</cbrinputerror>

                    <br/>


                    <!-- Postal Code -->

                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             ng-src="static/images/icons/email-40.png"/></span>
                        <input type="text" class="form-control" name="postalCode"
                               placeholder="Type in a postal code"
                               ng-model="data.postalCode" minlength="5" maxlength="5" required>
                    </div>
                    <cbrinputerror class="help-block" cbrname="postalCode"
                                   cbrnumber="Postal codes must be a number."
                                   cbrmaxlength="Postal codes in Germany have 5 characters."
                                   cbrminlength="Postal codes in Germany have 5 characters.">Error.</cbrinputerror>

                    <br/>

                    <!-- City -->

                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             ng-src="static/images/icons/city-40.png"/></span>
                        <input type="text" class="form-control" name="city" placeholder="Type in a city"
                               ng-model="data.city" required>
                    </div>
                    <cbrinputerror class="help-block" cbrname="city">Error.</cbrinputerror>

                    <br/>

                    <div>
                        <cbrprocess class="label process-submit">Processing...</cbrprocess>
                        <cbrerror class="label error-submit">Error!</cbrerror>
                        <cbrsubmit class="btn btn-coubr btn-lg">Change</cbrsubmit>
                        <span>or <a ng-href="#store/{{ route.storeId }}/settings">Go back</a></span>
                    </div>


                </cbrform>

                <br/>

            </div>


        </div>

    </div>

</div>