<div class="container">

    <cbrerror class="label label-danger error">Error!</cbrerror>

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Change Name</h2>
                <br/>

                <form cbrform name="form"
                      postTo="account/name"
                      thenGoto="#account"
                      initFrom="account/name">

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/static/images/icons/name-40.png"/></span>
                        <input type="text" class="form-control" name="firstName" placeholder="Type in your first name"
                               ng-model="data.firstName" ng-required="true">
                    </div>

                    <cbrinputerror class="help-block" cbrname="firstName">Error.</cbrinputerror>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/static/images/icons/name-40.png"/></span>
                        <input type="text" class="form-control" name="lastName" placeholder="Type in your last name"
                               ng-model="data.lastName" ng-required="true">
                    </div>

                    <cbrinputerror class="help-block" cbrname="lastName">Error.</cbrinputerror>

                    <br/>

                    <div>
                        <cbrprocess class="label process-submit">Processing...</cbrprocess>
                        <cbrerror class="label error-submit">Error!</cbrerror>
                        <cbrsubmit class="btn btn-coubr btn-lg">Change</cbrsubmit>
                        <span>or <a ng-href="#account">Go back</a></span>
                    </div>


                </form>

                <br/>

            </div>


        </div>

    </div>

</div>