<div class="container">

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Confirm Registration</h2>
                <br/>

                <form cbrform name="form"
                      postTo="business/confirmRegistration"
                      then="#login?:email"
                      initFromQuery="true">

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/email-40.png"/></span>
                        <input type="email" class="form-control" name="email" placeholder="Type in your Email"
                               ng-model="data.email" ng-required="true">
                    </div>
                    <cbrinputerror class="help-block" cbrname="email">Error.</cbrinputerror>

                    <br/>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/code-40.png"/></span>
                        <input type="text" class="form-control" name="code" placeholder="Type in your reset code"
                               ng-model="data.code" ng-minlength="16" ng-maxlength="32" ng-required="true">
                    </div>
                    <cbrinputerror class="help-block" cbrname="code"
                                   cbrmaxlength="Code must have at maximum 32 characters."
                                   cbrminlength="Code must have at least 16 characters.">Error.</cbrinputerror>

                    <br/>

                    <div>
                        <cbrprocess class="label process-submit">Processing...</cbrprocess>
                        <cbrerror class="label error-submit">Error!</cbrerror>
                        <cbrsubmit class="btn btn-coubr btn-lg">Confirm</cbrsubmit>
                    </div>

                    <br />

                </form>

                <p><a ng-href="#resendConfirmation">Resend confirmation code</a></p>

            </div>


        </div>

    </div>

</div>