.index-bg-img {
  margin-top: -2em;
  height: 100%;
  width: 100%;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.index-bg-overlay {
  position:relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:  rgba(236,240,241,0.7) /* rgba(242, 120, 75, 0.7); */
}

.index-container {
  display: table;
  height: 500px;
}

.index-container-header {
  display: table-cell;
  vertical-align: middle;
}

.index-container-content {
  margin-top: 80px;
}

.index-section
{
  text-align: center;
}

.index-section img
{
  display: block;
  margin: auto;
}

.index-logo img {
  margin: 0.5em;
}

.about-bg-img {
  margin-top: -2em;
  height: 100%;
  width: 100%;
//  background-image: url(/images/background.jpg);
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: center center;
  position: relative;
}

.about-bg-overlay {
  position:relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:  rgba(242,241,239,0.7) /* rgba(242, 120, 75, 0.7); */
}

.about-text-container {
  display: table;
  height: 500px;
}

.about-text-container-content {
  display: table-cell;
  vertical-align: middle;
}

.about-image-container {
  line-height: 500px;
}

.about-image-container img {
  vertical-align: middle;
  height: 450px;
}
