<div class="container">

    <cbrerror class="label label-danger error">Error!</cbrerror>

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Change Password</h2>
                <br/>

                <cbrform postTo="b/account/password"
                         thenGoto="#account">

                    <!-- Old password -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="password"
                               placeholder="Type in your old password"
                               ng-model="data.password" minlength="8" maxlength="50" required>
                    </div>
                    <cbrinputerror class="help-block" cbrname="password"
                                   cbrmaxlength="Password must have at maximum 50 characters."
                                   cbrminlength="Password must have at least 8 characters.">Error.</cbrinputerror>

                    <br/>

                    <!-- New password -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="newPassword"
                               placeholder="Type in your new password"
                               ng-model="data.newPassword" minlength="8" maxlength="50" required>
                    </div>
                    <cbrinputerror class="help-block" cbrname="newPassword"
                                   cbrmaxlength="Password must have at maximum 50 characters."
                                   cbrminlength="Password must have at least 8 characters.">Error.</cbrinputerror>

                    <br/>

                    <!-- New password repeat -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/key-40.png"/></span>
                        <input type="password" class="form-control" name="newPasswordRepeat"
                               placeholder="Type in password again" ng-model="data.newPasswordRepeat"
                               match="data.newPassword" minlength="8"
                               maxlength="50"
                               required>
                    </div>

                    <cbrinputerror class="help-block" cbrname="newPasswordRepeat"
                                   cbrmatch="Passwords are not equal."
                                   cbrmaxlength="Password must have at maximum 50 characters."
                                   cbrminlength="Password must have at least 8 characters.">Error.</cbrinputerror>

                    <br/>

                    <!-- Submit -->

                    <div>
                        <cbrprocess class="label process-submit">Processing...</cbrprocess>
                        <cbrerror class="label error-submit">Error!</cbrerror>
                        <cbrsubmit class="btn btn-coubr btn-lg">Change</cbrsubmit>
                        <span>or <a ng-href="#account">Go back</a></span>
                    </div>


                </cbrform>

                <br/>

            </div>


        </div>

    </div>

</div>