<div class="container">

    <cbrerror class="label label-danger error">Error!</cbrerror>

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">


                <h2>Change Email</h2>
                <br/>

                <cbrform postTo="b/account/email"
                         thenGoto="#account">

                    <!-- New email -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/email-40.png"/></span>
                        <input type="email" class="form-control" name="newEmail"
                               placeholder="Type in your new email address"
                               ng-model="data.newEmail" required>
                    </div>

                    <cbrinputerror class="help-block" cbrname="newEmail">Error.</cbrinputerror>

                    <br/>

                    <!-- New email repeat -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/email-40.png"/></span>
                        <input type="email" class="form-control" name="newEmailRepeat"
                               placeholder="Type in email address again" ng-model="data.newEmailRepeat"
                               match="data.newEmail" required>
                    </div>

                    <cbrinputerror class="help-block" cbrname="newEmailRepeat" cbrmatch="Emails are not equal.">Error.</cbrinputerror>

                    <br/>

                    <!-- Submit -->

                    <div>
                        <cbrprocess class="label process-submit">Processing...</cbrprocess>
                        <cbrerror class="label error-submit">Error!</cbrerror>
                        <cbrsubmit class="btn btn-coubr btn-lg">Change</cbrsubmit>
                        <span>or <a ng-href="#account">Go back</a></span>
                    </div>


                </cbrform>

                <br/>

            </div>


        </div>

    </div>

</div>