<div class="container">

    <cbrerror class="label label-danger error">Error!</cbrerror>

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-6">

                <h2>Change Design</h2>
                <br/>

                <form cbrform name="form"
                      postTo="b/coupon/:couponId/category"
                      thenGoTo="#coupon/:couponId/settings"
                      initFrom="b/coupon/:couponId/category" ng-controller="CouponCategoryController">

                    <!-- Category -->

                    <div class="row types">

                        <div ng-show="!hasCategories()">

                            <p>No designs.</p>

                        </div>

                        <div class="type" ng-repeat="category in categories">
                            <input type="radio" name="category" ng-model="data.category" ng-value="category.id"
                                   ng-required="true" hidden/>
                            <img class="img-thumbnail thumbnail-coubr"
                                 ng-class="{'thumbnail-selected': data.category == category.id}"
                                 ng-src="static/images/types/{{ category.id }}.png" ng-click="selectCategory(category.id)"/>

                            <p>{{ category.name }}</p>
                        </div>

                    </div>

                    <div>
                        <cbrprocess class="label process-submit">Processing...</cbrprocess>
                        <cbrerror class="label error-submit">Error!</cbrerror>
                        <cbrsubmit class="btn btn-coubr btn-lg">Change</cbrsubmit>
                        <span>or <a ng-href="#coupon/{{ route.couponId }}/settings">Go back</a></span>
                    </div>

                </form>

                <br/>

            </div>


        </div>

    </div>

</div>