<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender"/>

    <root level="WARN">
        <appender-ref ref="consoleAppender"/>
    </root>

    <logger name="com.coubr" level="DEBUG"/>
    <logger name="org.springframework" level="DEBUG"/>
</configuration>