<div class="container">

  <h3>Kontakt</h3>

  <p><span class="coubr">coubr</span> befindet sich noch im Aufbau. Wir haben bisher noch kein Betriebstelefon eingerichtet. Solltest du etwas zum Mitteilen haben, dann benachrichtige uns am Besten via E-Mail.</p>

  <br />

  <h4>E-Mail</h4>
  <p><a href="mailto:mail@coubr.de">mail@coubr.de</a></p>

  <br />

  <h4>Soziale Netzwerke</h4>
  <p>Facebook: <a href="http://www.facebook.com/coubrapp" target="_blank">coubrapp</a></p>
  <p>Twitter: <a href="http://www.twitter.com/coubrapp" target="_blank">#coubrapp</a></p>
</div>
