<div class="index-bg-img">
  <div class="index-bg-overlay">

    <div class="container index-container">

      <h1 class="index-container-header">Die <span class="coubr">coubr</span> App bietet ein neuartiges
        Gastronomieerlebnis</h1>

    </div>

  </div>
</div>

<br/>

<div class="container index-section">

  <div class="row">

    <div class="col-lg-3">

      <h3>Entdecke coole Locations</h3>
      <br/>
      <img class="" src="/images/icons/explore.svg">
      <br/>

      <p>Mit der <span class="coubr">coubr</span> App kannst du außergewöhnliche Restaurants, Bars, Kneipen (und vieles
        mehr) entdecken, die besonderen Wert auf den Gast legen.</p>

    </div>

    <div class="col-lg-3">

      <h3>Spare durch Coupons und Treuepunkte</h3>
      <br/>
      <img src="/images/icons/coupon.svg">
      <br/>

      <p>Spare mit Coupons und sammle automatisch Treuepunkte bei jedem Besuch.</p>

    </div>

    <div class="col-lg-3">

      <h3>Spare noch mehr mit Freunden</h3>
      <br/>
      <img src="/images/icons/share.svg">
      <br/>

      <p>Teile deinen Besuch mit deinen
        Freunden und spare noch mehr.</p>

    </div>

    <div class="col-lg-3">

      <h3 class="index-header">Erkunde aktuelle Angebote</h3>
      <br/>
      <img class="index-img" src="/images/icons/offer.svg">
      <br/>

      <p>Bleibe stets über aktuelle Angebote informiert.</p>

    </div>

  </div>

  <br/>

  <p><a ng-href="#/ueber">Erfahre mehr über <span class="coubr">coubr</span></a></p>

</div>

<br/>

<div class="container centered">

  <h3>Bald erhältlich auf iOS und Android</h3>

  <br/>

  <div class="index-logo">

    <a>
      <img alt="Laden im App Store"
           src="/images/icons/appstore.svg"/>
    </a>

    <a>
      <img alt="Android App bei Google Play"
           src="/images/icons/playstore.png"/>
    </a>

  </div>

  <br />

  <div>

    <h4>Werde benachrichtigt sobald <span class="coubr">coubr</span> verfügbar ist.</h4>

    <br />

    <form cbrform name="form"
          postTo="a/subscribe">

      <div class="input-group input-group-lg" style="width: 25em; margin: 0 auto;">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             src="/images/icons/email.svg"/></span>
        <input type="email" class="form-control" name="email" placeholder="E-Mail Adresse eingeben"
               ng-model="data.email" ng-required="true">
      </div>
      <cbrinputerror class="help-block" cbrname="email" cbrform="registerForm"></cbrinputerror>

      <br/>

      <div>
        <cbrprocess class="label coubr-process-submit" style="margin-left: auto; margin-right: auto">Bearbeiten...</cbrprocess>
        <cbrerror class="label coubr-error-submit" style="margin-left: auto; margin-right: auto;">Ein Fehler ist aufgetreten</cbrerror>
        <cbrsubmit class="btn btn-lg coubr-button">Eintragen</cbrsubmit>
      </div>

    </form>


  </div>


</div>


<br/>

<div class="container">



  <br/>



</div>


</div>
