<!DOCTYPE html>
<html>
<head>
  <title>coubr Legal</title>
  <!--stylesheets-->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/coubr.css"/>
  <!--scripts-->
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/angular-route.min.js"></script>
  <script src="/static/js/jquery-1.11.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script type="text/javascript">

    // module setup
    var coubr = angular.module('coubr', [
        'ngRoute',
    ]);

    coubr.config(['$routeProvider',
        function ($routeProvider) {
            $routeProvider.
                when('/', {
                  templateUrl: '/static/pages/legal/imprint.html'
                }).
                when('/imprint', {
                    templateUrl: '/static/pages/legal/imprint.html'
                }).
                when('/privacy', {
                    templateUrl: '/static/pages/legal/privacy.html'
                }).
               when('/terms', {
                   templateUrl: '/static/pages/legal/terms.html'
               }).
               otherwise({
                   redirectTo: '/'
               });

        }]);


</script>
<body ng-app="coubr">

<div class="header">

    <div class="container">

        <div class="navbar" role="navigation">

            <div class="centered">

                <ul class="nav nav-pills">
                    <li><a ng-href="#/imprint">Imprint</a></li>
                    <li><a ng-href="#/privacy">Privacy</a></li>
                    <li><a ng-href="#/terms">Terms</a></li>
                </ul>

            </div>

        </div>

    </div>

</div>

<div class="body" ng-view=""></div>


</body>
</html>
