<div class="container">

    <cbrfetch getFrom="b/coupon/:couponId/settings">

        <div class="navbar">
            <div>
                <ul class="nav nav-pills">
                    <li><a ng-href="#coupon/{{ route.couponId }}">Overview</a></li>
                    <li><a ng-href="#coupon/{{ route.couponId }}/stores">Stores</a></li>
                    <li><a ng-href="#coupon/{{ route.couponId }}/settings">Settings</a></li>
                </ul>
            </div>
        </div>

        <cbrerror class="label label-danger error">Error!</cbrerror>

        <div class="jumbotron">

            <div class="col-lg-6">

                <h3>General</h3>

                <!-- Title -->

                <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/title-40.png"/></span>

                    <div class="well form-control">{{ data.title }}</div>
                </div>

                <br/>

                <!-- Description -->

                <div class="input-group">
                                        <span class="input-group-addon"><img class="input-group-img"
                                                                             style="height: 32px; width: 32px; padding: 5px"
                                                                             ng-src="static/images/icons/note-40.png"/></span>
                    <textarea class="form-control textarea" rows="5" disabled>{{ data.description }}</textarea>
                </div>

                <br/>

                <p><a ng-href="#coupon/{{ route.couponId }}/settings/changeTitle">Change title and description</a></p>

                <h3>Valid until</h3>

                <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/date-40.png"/></span>

                    <div class="well form-control">{{ data.validTo }}</div>
                </div>

                <br/>

                <p><a ng-href="#coupon/{{ route.couponId }}/settings/changeValidTo">Change expiration date</a></p>

                <h3>Amount</h3>

                <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/calculator-40.png"/></span>

                    <div class="well form-control">{{ data.amountIssued }} of {{ data.amountToIssue }} issued</div> <!-- TODO Filter -->
                </div>

                <br/>

                <p><a ng-href="#coupon/{{ route.couponId }}/settings/changeAmount">Change amount</a></p>

                <h3>Activation</h3>

                <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="static/images/icons/check-40.png"/></span>

                    <div class="well form-control">{{ data.activated }}</div>
                </div>

                <br/>

                <button class="btn btn-coubr" ng-show="data.activated" ng-click="activate();">Activate</button>
                <button class="btn btn-coubr" ng-show="!data.activated" ng-click="deactivate();">Deactivate</button>


            </div>

            <div class="col-lg-6">

                <!-- Category -->

                <h3>Category</h3>

                <div ng-show="data.category" class="types">
                    <img class="img-thumbnail thumbnail-selected"
                         src="static/images/types/{{ data.category }}.png"/>
                    <p>{{ data.category }}</p>
                </div>

                <div ng-show="!data.category">

                    <p>No category.</p>

                </div>

                <p><a ng-href="#coupon/{{ route.couponId }}/settings/changeCategory">Change category</a></p>

            </div>

            <div class="col-lg-12">

                <div class="row">

                    <div class="col-lg-6">

                        <div class="dangerZone">

                            <h3>Danger Zone</h3>

                            <br/>

                            <p><a ng-href="#coupon/{{ route.couponId }}/settings/delete">Delete coupon</a></p>

                        </div>

                    </div>

                </div>


            </div>

        </div>

    </cbrfetch>

</div>