<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coubr Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>coubr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E6FDE1319EEC4D6002642C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E6FDE2C19EEC4D6002642C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E963F581A1C251A008FE399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E963F641A1C251B008FE399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF82D061A1C2083006C1DFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
