<div class="container">

    <div class="navbar">
        <div>
            <ul class="nav nav-pills">
                <li><a ng-href="#coupons">Active Coupons</a></li>
                <li><a ng-href="#couponsInactive">Inactive Coupons</a></li>
                <li><a ng-href="#couponsInvalid">Invalid Coupons</a></li>
                <li class="active"><a ng-href="#addcoupon">Add a Coupon</a></li>
            </ul>
        </div>
    </div>

    <cbrerror class="label label-danger error">Error!</cbrerror>

    <div class="jumbotron">

        <div class="row">

            <div class="col-lg-12"><h2>Add a Coupon</h2></div>

            <form cbrform name="form"
                  postTo="coupon"
                  thenGoTo="#coupon/:couponId">

                <div class="col-lg-6">

                    <h3>General</h3>

                    <!-- Title -->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/static/images/icons/title-40.png"/></span>
                        <input type="text" class="form-control" name="title" placeholder="Type in a title"
                               ng-model="data.title" ng-required="true">
                    </div>
                    <cbrinputerror class="help-block" cbrname="title">Error.</cbrinputerror>

                    <br/>

                    <!-- Description -->

                    <div class="input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             style="height: 32px; width: 32px; padding: 5px"
                                                             ng-src="/static/images/icons/note-40.png"/></span>
                        <textarea class="form-control textarea" name="description"
                                  placeholder="Type in a description (optional)"
                                  ng-model="data.description" rows="5" ng-required="false"></textarea>
                    </div>

                    <h3>Valid until</h3>

                    <div ng-controller="DateController">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <img class="input-group-img" ng-src="/static/images/icons/date-40.png"/>
                            </span>
                            <input type="date" class="form-control" name="validTo" ng-model="data.validTo"
                                   min="{{ today | date:'yyyy-MM-dd'}}" ng-required="true">
                        </div>
                    </div>

                    <cbrinputerror class="help-block" cbrname="validTo"
                                   cbrmin="Date must be from today on.">Error.
                    </cbrinputerror>

                    <p>Valid until 23:59:59 of the given date.</p>

                    <h3>Amount</h3>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/static/images/icons/calculator-40.png"/></span>
                        <input type="number" class="form-control" name="amount"
                               placeholder="Type in amount of coupons"
                               ng-model="data.amount"
                               min="1" ng-required="true">
                    </div>
                    <cbrinputerror class="help-block" cbrname="amount"
                                   cbrmin="Amount must be greater than 0.">Error.
                    </cbrinputerror>

                    <h3>Activation</h3>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <input type="checkbox" name="activated" ng-model="data.activated" ng-true-value="true"
                                   ng-false-value="false" ng-required="false">
                        </span>

                        <p class="form-control well">Activate immediately</p>
                    </div>


                </div>

                <div class="col-lg-6">

                    <!-- Design: Model uses category -->

                    <h3>Design</h3>

                    <div ng-controller="CouponCategoryController">

                        <div class="row types">

                            <div ng-show="!hasCategories()">

                                <p>No designs.</p>

                            </div>

                            <div class="type" ng-repeat="category in categories">
                                <input type="radio" name="category" ng-model="data.category" ng-value="category.id"
                                       ng-required="true" hidden/>
                                <img class="img-thumbnail thumbnail-coubr"
                                     ng-class="{'thumbnail-selected': data.category == category.id}"
                                     ng-src="/static/images/types/{{ category.id }}.png"
                                     ng-click="selectCategory(category.id)"/>

                                <p>{{ category.name }}</p>
                            </div>

                        </div>

                    </div>

                    <!-- Stores -->

                    <div ng-controller="CouponStoreController">

                        <h3>Stores</h3>

                        <div ng-show="!hasStores()">

                            <p>No stores.</p>

                        </div>

                        <div class="row types">

                            <div class="type" ng-repeat="store in stores.stores">
                                <img ng-class="{'thumbnail-selected': isStoreSelected(store.storeId)}"
                                     ng-src="/static/images/icons/store-128.png"
                                     ng-click="selectStore(store.storeId)"/>

                                <p>{{ store.name }}</p>
                            </div>

                        </div>

                        <div ng-show="hasStores()" class="pull-right">
                            <a class="btn btn-coubr" ng-click="selectAllStores()">Select all</a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-12">

                    <!-- Submit -->
                    <div class="pull-right">
                        <cbrprocess class="label process-submit">Processing...</cbrprocess>
                        <cbrerror class="label error-submit">Error!</cbrerror>
                        <cbrsubmit class="btn btn-coubr btn-lg pull-right">Add</cbrsubmit>
                    </div>


                </div>

            </form>

        </div>
    </div>
</div>