<div class="jumbotron">

    <h2>Feedback</h2>
    <br/>

    <p>"We all need people who will give us feedback. That's how we improve." - Bill
        Gates</p>

    <br/>

    <form cbrform name="form" postTo="b/feedback" then="cancel()">

        <div class="input-group">

            <span class="input-group-addon">
                <img class="input-group-img" style="height: 32px; width: 32px; padding: 5px"
                     ng-src="static/images/icons/note-40.png"/>
            </span>
            <textarea class="form-control textarea" name="feedback"
                      placeholder="Type in your feedback"
                      ng-model="data.feedback" rows="5" required="required">

            </textarea>

        </div>

        <br/>

        <div>
            <cbrprocess class="label process-submit">Processing...</cbrprocess>
            <cbrerror class="label error-submit">Error!</cbrerror>
            <cbrsubmit class="btn btn-coubr btn-lg">Send</cbrsubmit>
            <span>or <a ng-click="cancel()">Close</a></span>
        </div>

    </form>

</div>