<h3>Registrierung bestätigen</h3>
<br/>

<form cbrform name="form"
      postTo="b/confirmRegistration"
      thenGoto="#anmelden?:email"
      initFromQuery="true">

  <!-- Email -->

  <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/email.svg"/></span>
    <input type="email" class="form-control" name="email" placeholder="E-Mail Addresse eingeben"
           ng-model="data.email" ng-required="true">
  </div>
  <cbrinputerror class="help-block" cbrname="email"></cbrinputerror>

  <br/>

  <!-- Code -->

  <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/lock.svg"/></span>
    <input type="text" class="form-control" name="code" placeholder="Bestätigungscode eingeben"
           ng-model="data.code" ng-minlength="16" ng-maxlength="32" ng-required="true">
  </div>
  <cbrinputerror class="help-block" cbrname="code"></cbrinputerror>

  <br/>

  <div>
    <cbrprocess class="label coubr-process-submit">Bearbeiten...</cbrprocess>
    <cbrerror class="label coubr-error-submit">Ein Fehler ist aufgetreten</cbrerror>
    <cbrsubmit class="btn coubr-button">Bestätigen</cbrsubmit>
  </div>

  <br/>

</form>

<p><a ng-href="#bestaetigungscode">Bestätigungscode nicht erhalten?</a></p>

