<div>
  <tabset>
    <tab heading="Anmelden">

      <div class="tabContent">

        <form cbrform name="form"
              initFromQuery="true"
              postTo="b/login"
              thenGoto="b"
              then="cancel();">

          <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/email.svg"/></span>
            <input type="email" class="form-control" name="email" placeholder="E-Mail Addresse eingeben"
                   ng-model="data.email" ng-required="true">
          </div>
          <cbrinputerror class="help-block" cbrname="email"></cbrinputerror>

          <br/>

          <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/key.svg"/></span>
            <input type="password" class="form-control" name="password" placeholder="Passwort eingeben"
                   ng-model="data.password" ng-minlength="8" ng-maxlength="50" ng-required="true">
          </div>
          <cbrinputerror class="help-block" cbrname="password"
                         cbrmaxlength="Passwort darf maximal 50 Zeichen beinhalten."
                         cbrminlength="Passwort muss mindestens 8 Zeichen beinhalten."></cbrinputerror>
          <br/>

          <div>
            <cbrprocess class="label coubr-process-submit">Bearbeiten...</cbrprocess>
            <cbrerror class="label coubr-error-submit">Ein Fehler ist aufgetreten</cbrerror>
            <cbrsubmit class="btn coubr-button">Anmelden</cbrsubmit>
          </div>


          <br/>

        </form>

        <p><a ng-href="#/zuruecksetzen" ng-click="cancel();">Passwort vergessen?</a></p>

      </div>

    </tab>
    <tab heading="Zugang beantragen">

      <div class="tabContent">

        <form cbrform name="form"
              postTo="b/register"
              then="cancel();">
              <!--thenGoto="#confirmRegistration?:email"-->

          <!-- Email -->

          <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/email.svg"/></span>
            <input type="email" class="form-control" name="email" placeholder="E-Mail Adresse eingeben"
                   ng-model="data.email" ng-required="true">
          </div>
          <cbrinputerror class="help-block" cbrname="email"></cbrinputerror>

          <br/>

          <!-- Password -->

          <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/key.svg"/></span>
            <input type="password" class="form-control" name="password" placeholder="Passwort eingeben"
                   ng-model="data.password" ng-minlength="8" ng-maxlength="50" ng-required="true">
          </div>
          <cbrinputerror class="help-block" cbrname="password"
                         cbrmaxlength="Passwort darf maximal 50 Zeichen beinhalten."
                         cbrminlength="Passwort muss mindestens 8 Zeichen beinhalten."></cbrinputerror>

          <br/>

          <!-- Password repeat -->

          <div class="input-group input-group">
                        <span class="input-group-addon"><img class="input-group-img"
                                                             ng-src="/images/icons/key.svg"/></span>
            <input type="password" class="form-control" name="passwordRepeat"
                   placeholder="Passwort nochmals eingeben" ng-model="data.passwordRepeat"
                   match="data.password" ng-minlength="8"
                   ng-maxlength="50"
                   ng-required="true">
          </div>
          <cbrinputerror class="help-block" cbrname="passwordRepeat"
                         cbrmatch="Passwörter sind nicht identisch."
                         cbrmaxlength="Passwort darf maximal 50 Zeichen beinhalten."
                         cbrminlength="Passwort muss mindestens 8 Zeichen beinhalten."></cbrinputerror>

          <br/>

          <!-- Submit -->

          <div>
            <cbrprocess class="label coubr-process-submit">Bearbeiten...</cbrprocess>
            <cbrerror class="label coubr-error-submit">Ein Fehler ist aufgetreten</cbrerror>
            <cbrsubmit class="btn coubr-button">Beantragen</cbrsubmit>
          </div>

          <br />

          <p><span class="coubr">coubr</span> befindet sich gerade in einer privaten Testphase. Sollten Sie Interesse an
            <span class="coubr">coubr</span> haben dann können Sie uns schon mal Ihre Zugangsdaten mitteilen. Nach einer
            Prüfung senden wir Ihnen den Aktivierungscode zur Nutzung von <span class="coubr">coubr</span> Business.</p>



        </form>

      </div>

    </tab>
  </tabset>
</div>
