<div class="container">

  <h3>Team</h3>

  <br/>

  <div class="row centered">

    <div class="col-lg-3">

      <h4>Sebastian Hof</h4>
      <br/>
      <div class="thumbnail">
        <img src="/images/sebastian.jpg"/>
      </div>
      <br/>

    </div>

    <div class="col-lg-3">

      <h4>Martin Sattler</h4>
      <br/>
      <div class="thumbnail">
        <img src="/images/martin.jpg"/>
      </div>
      <br/>

    </div>

    <div class="col-lg-3">

      <h4>Dominik Sebald</h4>
      <br/>
      <div class="thumbnail">
        <img src="/images/dominik.jpg"/>
      </div>
      <br/>

    </div>


  </div>


</div>
