<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--stylesheets-->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"
          th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="static/css/coubr.css" th:href="@{/static/css/coubr.css}"/>
    <!--scripts-->
    <!--<script data-main="static/js/coubr-main.js" src="static/js/require.js"-->
    <!--th:src="@{/static/js/require.js}"></script>-->

    <script src="static/js/angular.min.js" th:src="@{/static/js/angular.min.js}"></script>
    <script src="static/js/angular-route.min.js" th:src="@{/static/js/angular-route.min.js}"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtXyICtACo_Y5vxCT134scRSpBz7H6RIY"></script>

    <script src="static/js/jquery-1.11.1.min.js" th:src="@{/static/js/jquery-1.11.1.min.js}"></script>
    <script src="static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script src="static/js/ui-bootstrap-tpls-0.11.2.min.js"
            th:src="@{/static/js/ui-bootstrap-tpls-0.11.2.min.js}"></script>

    <script src="static/js/coubr.js" th:src="@{/static/js/coubr.js}"></script>
    <script src="static/js/coubr-business.js" th:src="@{/static/js/coubr-business.js}"></script>

</head>
<script type="text/javascript">


    coubrBusiness.config(['$routeProvider',
        function ($routeProvider) {
            $routeProvider.
                    when('/', {
                        templateUrl: 'static/pages/business/dashboard.html'
                    }).
                /*
                 * Account
                 */
                    when('/account', {
                        templateUrl: 'static/pages/business/account/account.html'
                    }).
                    when('/account/changeEmail', {
                        templateUrl: 'static/pages/business/account/accountEmail.html'
                    }).
                    when('/account/changePassword', {
                        templateUrl: 'static/pages/business/account/accountPassword.html'
                    }).
                    when('/account/changeName', {
                        templateUrl: 'static/pages/business/account/accountName.html'
                    }).
                    when('/account/delete', {
                        templateUrl: 'static/pages/business/account/accountDelete.html'
                    }).
                /*
                 * Stores
                 */
                    when(
                    '/stores', {
                        templateUrl: 'static/pages/business/store/stores.html'
                    }).
                    when('/addstore', {
                        templateUrl: 'static/pages/business/store/addStore.html'
                    }).
                    when('/store/:storeId', {
                        templateUrl: 'static/pages/business/store/store.html'
                    }).
                    when('/store/:storeId/pictures', {
                        templateUrl: 'static/pages/business/store/storePictures.html'
                    }).
                    when('/store/:storeId/location', {
                        templateUrl: 'static/pages/business/store/storeLocation.html'
                    }).
                    when('/store/:storeId/location/adjustLocation', {
                        templateUrl: 'static/pages/business/store/storeLocationAdjust.html'
                    }).
                    when('/store/:storeId/code', {
                        templateUrl: 'static/pages/business/store/storeCode.html'
                    }).
                    when('/store/:storeId/code/print', {
                        templateUrl: 'static/pages/business/store/storeCodePrint.html'
                    }).
                    when('/store/:storeId/settings', {
                        templateUrl: 'static/pages/business/store/storeSettings.html'
                    }).
                    when('/store/:storeId/settings/changeName', {
                        templateUrl: 'static/pages/business/store/storeName.html'
                    }).

                    when('/store/:storeId/settings/changeAddress', {
                        templateUrl: 'static/pages/business/store/storeAddress.html'
                    }).
                    when('/store/:storeId/settings/changeContact', {
                        templateUrl: 'static/pages/business/store/storeContact.html'
                    }).
                    when('/store/:storeId/settings/changeType', {
                        templateUrl: 'static/pages/business/store/storeType.html'
                    }).
                    when('/store/:storeId/settings/close', {
                        templateUrl: 'static/pages/business/store/storeClose.html'
                    }).
                /*
                 * Coupons
                 */
                    when('/coupons', {
                        templateUrl: 'static/pages/business/coupon/coupons.html'
                    }).
                    when('/couponsInactive', {
                        templateUrl: 'static/pages/business/coupon/couponsInactive.html'
                    }).
                    when('/couponsInvalid', {
                        templateUrl: 'static/pages/business/coupon/couponsInvalid.html'
                    }).
                    when('/addcoupon', {
                        templateUrl: 'static/pages/business/coupon/addCoupon.html'
                    }).
                    when('/coupon/:couponId', {
                        templateUrl: 'static/pages/business/coupon/coupon.html'
                    }).
                    when('/coupon/:couponId/stores', {
                        templateUrl: 'static/pages/business/coupon/couponStores.html'
                    }).
                    when('/coupon/:couponId/stores/manageStores', {
                        templateUrl: 'static/pages/business/coupon/couponStoresManage.html'
                    }).
                    when('/coupon/:couponId/settings', {
                        templateUrl: 'static/pages/business/coupon/couponSettings.html'
                    }).
                    when('/coupon/:couponId/settings/changeTitle', {
                        templateUrl: 'static/pages/business/coupon/couponTitle.html'
                    }).
                    when('/coupon/:couponId/settings/changeValidTo', {
                        templateUrl: 'static/pages/business/coupon/couponValidTo.html'
                    }).
                    when('/coupon/:couponId/settings/changeAmount', {
                        templateUrl: 'static/pages/business/coupon/couponAmount.html'
                    }).
                    when('/coupon/:couponId/settings/changeDesign', {
                        templateUrl: 'static/pages/business/coupon/couponCategory.html'
                    }).
                    when('/coupon/:couponId/settings/delete', {
                        templateUrl: 'static/pages/business/coupon/couponDelete.html'
                    }).
                /*
                 * Legal
                 */
                    when('/imprint', {
                        templateUrl: 'static/pages/legal/imprint.html'
                    }).
                    when('/privacy', {
                        templateUrl: 'static/pages/legal/privacy.html'
                    }).
                    when('/terms', {
                        templateUrl: 'static/pages/legal/terms.html'
                    }).
                /*
                 * otherwise
                 */
                    otherwise({
                        redirectTo: '/'
                    });
        }]);


</script>
<body ng-app="coubrBusiness">

<div class="header">
    <div class="container">

        <div class="navbar" role="navigation">

            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span class="coubr">coubr</span> for Business</a>
            </div>

            <!-- Feedback -->

            <div ng-controller="FeedbackController"> <!-- TODO FeedbackController -->

                <div class="navbar-text">
                    <a ng-click="open()">Feedback</a>
                </div>

            </div>

            <!-- Feedback End -->

            <div class="pull-right">

                <ul class="nav nav-pills">
                    <li><a ng-href="#/">Dashboard</a></li>
                    <li><a ng-href="#/stores">Stores</a></li>
                    <li><a ng-href="#/coupons">Coupons</a></li>
                    <li><a ng-href="#/account">Account</a></li>
                    <li><a href="b/logout.do" th:href="@{/b/logout.do}">Logout</a></li>
                </ul>

            </div>

        </div>

    </div>

</div>

<div class="body" ng-view=""></div>

<div class="footer">

    <div>

        <div>
            <p><a ng-href="#/team">Team</a> &middot;
                <a ng-href="#/contact">Contact</a> &middot;
                <a ng-href="#/jobs">Jobs</a>
                &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                <span class="coubr">coubr</span> &copy; 2014 &middot; All rights reserved
                &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                <a ng-href="#/imprint">Imprint</a> &middot;
                <a ng-href="#/privacy">Privacy</a> &middot;
                <a ng-href="#/terms">Terms</a> &middot; <img ng-src="static/images/weisendorf.png" class="weisendorf"/>
            </p>

        </div>

    </div>


</div>

</body>
</html>